.App {
  scroll-behavior: smooth;
  color: #ADADAD;
  display: flex;    
  height: 100%;
  margin: 0 25rem 0 25rem;
  justify-content: space-between;
}

.App::-webkit-scrollbar {
  display: none;
}

a {
  color: #ADADAD;
  text-decoration: none;
}