@import './variables.css';

.App {
  scroll-behavior: smooth;
  color: var(--color-secondary);
  display: flex;    
  height: 100%;
  margin: 0 clamp(1rem, 5rem, 25rem);
  justify-content: space-between;
}

.App::-webkit-scrollbar {
  display: none;
}

a {
  color: var(--color-secondary);
  text-decoration: none;
}
@media (max-width: 640px) {

}
@media (max-width: 1024px) {
  .App {
    margin: 0 2.5rem;
    flex-direction: column;
    header {
      height: auto;
      position: relative;
    }
    .section-links {
      display: none;
    }
    .content {
      max-width: calc(100% - 2rem);
      padding-top: 1rem;
  }
  }
}
